.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 1vmin);
  color: white;
  padding-left: 40px;
  
}
button {
  position: absolute;
  color: antiquewhite;
  min-width: 55px;
  min-height: 35px;
  left: 0;
  margin-left: calc(10px+.5vmin);
  margin-right: calc(10px+.5vmin);
  top: 30px;
  font-size: 25px;
  
}

.App-link {
  color: #282c34;
}

/* Search Bar */
.list-locations {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
  left: 10px;
  width: 300px;
  height: calc(100%-10vmin);
  top: calc(10px+10vmin);
  border-bottom: 1px solid #d5d8df;
}


input.search-locations {
  position: absolute;
    height: 25px;
    width: 80%;
    margin: 5%;
    font-size: 15px;
    left: inherit;
}
ol.location-list {
  border-top: 1px solid #c5c8cf;
  margin-top: 20%;
  padding: 35px;
  padding-bottom: 10px;
  line-height: 2;
  font-size: medium;
  list-style-type: none;
  text-align: initial;
}

li.location-list-item:hover {
  color: #23a6ca;
}

/* Location Details */
.location-details {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
  width: 300px;
  border-bottom: 1px solid #d5d8df;
  font-size: medium;
  text-align: initial;
  box-sizing: border-box;
  padding: 10px;
  line-height: 5px;

}

 .featured-image {
   margin-top: 15px;
  font-size: small;
}



