.App {
  text-align: center;
}
/* App Header */
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  color: white;
  padding-left: 40px;
  
}
/* Menu button */
.toggle-menu {
  background-color: #737579;
  position: absolute;
  min-width: 55px;
  min-height: 55px;
  left: 25px;
  margin-left: calc(10px+.5vmin);
  margin-right: calc(10px+.5vmin);
  top: 10px;
  font-size: 25px;
  border: none;
  border-radius: 5px;
}

.App-link {
  color: #282c34;
}

/* Search div */
.list-locations {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
  left: 10px;
  width: 300px;
  height: calc(100%-10vmin);
  top: calc(10px+10vmin);
  border-bottom: 1px solid #d5d8df;
}

/*Search Input*/
input.search-locations {
  position: absolute;
    height: 25px;
    width: 80%;
    margin: 5%;
    font-size: 15px;
    left: inherit;
}
/* Locations list */
ol.location-list {
  border-top: 1px solid #c5c8cf;
  margin-top: 20%;
  padding: 35px;
  padding-bottom: 10px;
  line-height: 2;
  
}
/* Location-button*/
button.location-list-item {
  width: 100%;
  text-align: initial;
  font-size: medium; 
  border: none;
  background: none;
}

button.location-list-item:hover {
  color: #23a6ca;
}

/* Location Details */
.location-details {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
  width: 300px;
  border-bottom: 1px solid #d5d8df;
  font-size: medium;
  text-align: initial;
  box-sizing: border-box;
  padding: 10px;
  line-height: 5px;

}
/* Restaurant Image */
 .featured-image {
   margin-top: 15px;
  font-size: small;
}

@media (max-width: 450px) {
  .list-locations {
    width: 95%;
  }

  .location-details {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .App-header {
    min-height: 15vh;
    align-items: top;
  }
  .toggle-menu {
    position: absolute;
    height: 15vh;
    left: 2px;
    top: 2px;
  }

}




